@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

body {
  background-color: rgb(236, 240, 241);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  color: rgb(52,73,94);
}

main {
  display: flex;
  flex-direction: row;
}

div {
  width: 198px;
  height: 295px;
  background-color: white;
  margin: 8px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgb(210, 210, 210);
}

div > p {
  margin-top: 0;
  font-size: 28px;
  font-weight: bold;
}

div > p ~ p {
  font-size: 18px;
}

img {
  margin-top: 19px;
  height: 138px;
}