body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  background-color: rgb(255,214,42);
  width: 835px;
  height: 700px;
}

header {
  background-color: rgb(176,42,255);
  position: fixed;
  width: 835px;
}

ul {
  list-style-type: none;
  display: flex;
  padding-left: 20px;
}

li {
  width: 100px;
  height: 30px;
  background-color: rgb(42,234,255);
  margin-right: 15px;
}

#container {
  width: 70%;
}

#sidebar {
  background-color: rgb(81,212,0);
  justify-content: flex-end;
  width: 30%;
  align-items: stretch;
}