h1 {
  color: rgb(2,6, 235);
}

h2 {
  color: rgb(244, 164, 17);
}

p {
  margin :0;
}

#foodType {
  color: rgb(2,6, 235);
}

#fruit {
  color:black;
}

#apple {
  color: red;
}

#vegetable {
  color: black;
}