<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Book List</title>
  </head>
  <body>
    <header>
      <h1>Book List from Database</h1>
      <%- include("navigation.ejs") %>
    </header>
    <main>
      <% rows.forEach(element => { %>
        <ul>
          <li><%=element.Name %></li>
        </ul>
      <% }) %>
  </main>
  </body>
</html>