<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Greeting</title>
  </head>
  <body>
    <h1>Welcome back, <%= passobj.name %>!</h1>
    <p> You already visite this page <%= passobj.counter %> </p>
  </body>
</html>