body {
  display: flex;
  justify-content: center;
}

.container{
  background-color: rgb(255,214,42);
  display: flex;
  height: 360px;
  width: 700px;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.item{
  background-color: rgb(176,42,255);
  height: 100px;
  width: 100px;
}